@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MasterSite Admin";
}


@section head{
    <link href="~/content/styles/bootstrap-datetimepicker.css" rel="stylesheet" />
}

<div class="jumbotron skinny">
    <h1>anthR<i>.MasterSite</i></h1>    
</div>

@RenderBody()

@section scripts{
   
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker();
        });
    </script>

    @RenderSection("scripts", required: false)

}


