body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input.form-control-long, textarea.form-control-long, select.form-control-long{
    max-width: 580px;
}

caption{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.jumbotron.skinny{
    margin-top: 12px;
    padding: 12px;
}
    .jumbotron.skinny h1 {
        margin-top: 10px;
    }

    .jumbotron.mini{
    margin-top: 4px;
    padding: 4px;
}
    .jumbotron.mini h1 {
        margin-top: 2px;
    }

@media screen and (min-width: 768px){
    .jumbotron.skinny{
        padding: 12px;
    }
}

.priority-1{
    background-color: #fb4f4f;
}
.priority-2{
    background-color: #fb8e4f;
}
.priority-3{
    background-color: #fbd84f;
}
.priority-4{
    background-color: #d4fb4f;
}

