@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>anthR</h1>
    <p class="lead">anthR is an open source Project/Task/Todo list.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
        
    <div class="col-md-8">
        
        <section>

            <h2>Recent Updates</h2>
            <hr />

            @*<article>
                <h3>Refactoring in a nutshell</h3>
                <p>
                    <video name="media" class="animated-gif" data-height="224" data-width="300" loop="" src="https://pbs.twimg.com/tweet_video/CB_jhR-WAAAECxl.mp4">
                      <source video-src="https://pbs.twimg.com/tweet_video/CB_jhR-WAAAECxl.mp4" type="video/mp4" class="source-mp4" src="https://pbs.twimg.com/tweet_video/CB_jhR-WAAAECxl.mp4">
                    </video>
                </p>
            </article>*@

            <article>

                <h3>Logo update <span class="label label-info pull-right">Back to the future day</span></h3>
                <hr>
                <p>
                    <img src="/content/livery/anthr-logo.png?v=2" alt="Not Anthr">
                </p>

            </article>

            <article>

                <h3>Time Already Allocated <span class="label label-info pull-right">2nd April 05</span></h3>                
                <hr />
                <p>
                    You can now view time already allocated to a task from the Tasks options. This will show you a quick count if you already have assigned time, and allow you to view the time allocation then edit/delete.
                </p>

            </article>

            <article>

                <h3>Quick Complete <span class="label label-info pull-right">2nd April 05</span></h3>
                <hr />
                <p>
                    Task completetion has now been replaced with a quick version, so you no longer need to select the completion date or status. You can now also complete the task via the Allocate Time form.
                </p>

            </article>

        </section>
        

    </div>

    <div class="col-md-3">
        <h2>Useful Links</h2>
        <p>
            <a href="http://msdn.microsoft.com/en-us/data/jj591621" target="_blank">EF Code first Migrations</a>
            <br />  
            <a href="http://getbootstrap.com/css/" target="_blank">Bootstrap CSS</a>
        </p>
    </div>


</div>

@section scripts{
    <script>
        $(function () {
            try {
                //setTimeout(function () {
                //    sendMessage(_username + " is online", "tim");
                //}, 1500);                
            } catch (e) {

            }
        });
    </script>
}
